<a href="{{url}}" class="article-item__link">
    <header class="article-item__header">
        {{!-- @TODO add date in {{#if archiveMode}}
        <p class="article-item__date">{{date}}</p>
        {{/if}}--}}
        <h3 class="article-item__title h1">{{item.title}}</h3>
    </header>
    {{#if item.images}}
        <figure class="article-item__image">

            {{#if responsiveImages}}
                <picture>
                    <source media="(min-width: 58.25rem)" srcset="/assets/img/{{item.images.[1]}}"> {{! Large breakpoint}}
                    <img src="/assets/img/{{item.images.[0]}}" alt="">
                </picture>
            {{else}}
                <img src="/assets/img/{{item.images}}" alt="" />
            {{/if}}
            
        </figure>
    {{/if}}
    <footer class="article-item__footer">
        <p class="article-item__description">{{item.description}}</p>
        <div class="article-item__buttons button-holder">
            <div class="button button--arrow">View</div>
        </div>
    </footer>
</a>
