<div class="page">
    <p class="article__date">{{date}}</p>
    <h1 class="article__title">{{item.title}}</h1>
    {{#if item.heroImages}}
        <div class="article__hero-images">
            {{#each item.heroImages}}
                <figure class="article__hero-image">
                    <span class="article__hero-image-holder"><img src="/assets/img/{{this.image}}" alt="" /></span>
                    {{#if this.caption}}<figcaption class="article__hero-caption">{{this.caption}}</figcaption>{{/if}}
                </figure>
            {{/each}}
        </div>
    {{/if}}
    <div class="article__description">{{{md item.__content}}}</div>
    {{#if item.content_url}}
        <div class="article__buttons button-holder">
            <a href="{{item.content_url}}" class="button button--arrow">View Work</a>
        </div>
    {{/if}}
</div>
